
<div class="content_wrapper">
	<div class="content">
		<div style="display: none;" data-type="am_pm" class="time_picker_item">
			<ul class="transition_all">
				<li data-item="am">AM</li>
				<li data-item="pm">PM</li>
			</ul>
		</div>
		<div data-type="hours" class="time_picker_item">
			<svg class="up" viewBox="0 0 32 17"><use xlink:href="i/arrow_up.svg#arrow_up"></use></svg>
			<div class="time_wrap">
				<ul class="transition_all"></ul>
			</div>
			<svg class="down" viewBox="0 0 32 17"><use xlink:href="i/arrow_down.svg#arrow_down"></use></svg>
		</div>
		<div class="separator_clock">:</div>
		<div data-type="minutes" class="time_picker_item">
			<svg class="up" viewBox="0 0 32 17"><use xlink:href="i/arrow_up.svg#arrow_up"></use></svg>
			<div class="time_wrap">
				<ul class="transition_all"></ul>
			</div>
			<svg class="down" viewBox="0 0 32 17"><use xlink:href="i/arrow_down.svg#arrow_down"></use></svg>
		</div>
		<div data-type="days" class="time_picker_item">
			<svg class="up" viewBox="0 0 32 17"><use xlink:href="i/arrow_up.svg#arrow_up"></use></svg>
			<div class="time_wrap">
				<ul class="transition_all"></ul>
			</div>
			<svg class="down" viewBox="0 0 32 17"><use xlink:href="i/arrow_down.svg#arrow_down"></use></svg>
		</div>
	</div>
</div>

<div class="button_wrap">
	<div class="button">{{:lang.confirm}}</div>
</div>

{{header #data /}}
