
<div id="radio_page" class="tv_mosaic displaynone">
	<div id="tv_radio_header_info"></div>
	<div id="tv_radio_content">
		<div id="tv_radiolist"></div>

		<div id="radio_choosing_list" class="displaynone">
			<div id="genre"></div>
		</div>
		<div id="radio_preview"></div>
	</div>

	<div id="bottom_choosing_radio">
		<div class="nav">
			<span class="tv_channel_back">
				<svg class="svg_button" viewBox="0 0 24 19">
					<use xlink:href="#btn_back"></use>
			    </svg>
			</span>
			{{:lng.back}}
		</div>
		<div class="nav">
			<span class="navigation">
				<svg class="svg_button" viewBox="0 0 26 26">
					<use xlink:href="#btn_navigate"></use>
			    </svg>
			</span>
			{{:lng.navigation}}
		</div>
		<div class="nav">
			<span class="watch_channel">
				<svg class="svg_button" viewBox="0 0 28 24">
					<use xlink:href="#btn_ok"></use>
			    </svg>
			</span>
			{{:lng.listen_radio}}
		</div>
		<div class="nav by_category">
			<span class="by_category"></span>
			{{:lng.by_genre}}
		</div>
		<div class="nav filtering_channel">
			<span class="filtering_channel"></span>
			{{:lng.filtering}}:
		</div>
	</div>
	<div id="bottom_choosing_genre" class="displaynone">
		<div class="nav">
			<span class="tv_channel_back">
				<svg class="svg_button" viewBox="0 0 24 19">
					<use xlink:href="#btn_back"></use>
			    </svg>
			</span>
			{{:lng.back}}
		</div>
		<div class="nav">
			<span class="navigation">
				<svg class="svg_button" viewBox="0 0 26 26">
					<use xlink:href="#btn_navigate"></use>
			    </svg>
			</span>
			{{:lng.navigation}}
		</div>
		<div class="nav">
			<span class="stop_playing player-icon-stop"></span>
			{{:lng.radio_stop_playing}}
		</div>
		<div class="nav by_category">
			<span class="by_category"></span>
			{{:lng.by_genre}}
		</div>
		<div class="nav filtering_channel">
			<span class="filtering_channel"></span>
			{{:lng.filtering}}:
		</div>
	</div>
</div>