
<div id="tv_mosaic" class="tv_mosaic displaynone">
	<div id="tv_channel_header_info"></div>
	<div id="tv_channel_content">
		<div id="tv_channellist">
			<div id="tv_channel_list_header" class="tv_channel_list_header"></div>
			<div class="content_wrapper">
				<ul class="content"></ul>
			</div>
		</div>

		<div id="tv_programmes_list" class="displaynone">
			<div id="list_header_epg" class="tv_channel_list_header"></div>
			<div class="content_wrapper">
				<div class="content">

					<ul id="list_channels_epg" class="list_channels_epg"></ul>
					<div id="list_programmes_epg" class="programmes_content_wrapper"></div>

				</div>
			</div>
		</div>

		<div id="choosing_list">
			<div id="language"></div>
			<div id="category"></div>
		</div>
		<div id="preview">
			<div id="preview_channel"></div>
			<div id="preview_channel_information"></div>
			<ul id="preview_epg"></ul>
			<div id="new_preview_epg" class="displaynone"></div>
		</div>

		<div id="bottom_channel_information"></div>

	</div>

	<div id="bottom_choosing_channel">
		<div class="nav" id="tv_mosaic_btn_back">
			<span class="tv_channel_back">
				<svg class="svg_button" viewBox="0 0 24 19">
					<use xlink:href="#btn_back"></use>
				</svg>
			</span>
			{{:lng.back}}
		</div>
		<div class="nav">
			<span class="navigation">
				<svg class="svg_button" viewBox="0 0 26 26">
					<use xlink:href="#btn_navigate"></use>
				</svg>
			</span>
			{{:lng.navigation}}
		</div>
		<div class="nav">
			<span class="watch_channel">
				<svg class="svg_button" viewBox="0 0 28 24">
					<use xlink:href="#btn_ok"></use>
				</svg>
			</span>
			{{:lng.watch}}
		</div>
		<div class="nav guide">
			<span class="guide btn_legend btn_green"></span>{{:lng.tv_guide}}
		</div>
		<div class="nav by_language">
			<span class="by_language"></span>
			{{:lng.by_language}}
		</div>
		<div class="nav by_category">
			<span class="by_category"></span>
			{{:lng.by_category}}
		</div>
		<div class="nav filtering_channel">
			<span class="filtering_channel"></span>
			{{:lng.filtering_channel}}:
		</div>
	</div>

	<div id="bottom_programmes">
		<div class="nav">
			<span class="tv_channel_back">
				<svg class="svg_button" viewBox="0 0 24 19">
					<use xlink:href="#btn_back"></use>
				</svg>
			</span>
			{{:lng.back}}
		</div>
		<div class="nav">
			<span class="navigation">
				<svg class="svg_button" viewBox="0 0 26 26">
					<use xlink:href="#btn_navigate"></use>
				</svg>
			</span>
			{{:lng.navigation}}
		</div>
		<div class="nav">
			<span class="watch_channel">
				<svg class="svg_button" viewBox="0 0 28 24">
					<use xlink:href="#btn_ok"></use>
				</svg>
			</span>
			{{:lng.watch}}
		</div>
		<div class="nav programmes">
			<span class="btn_legend btn_blue"></span>+1 {{:lng.day}}
		</div>
		<div class="nav programmes">
			<span class="btn_legend btn_yellow"></span>{{:lng.jump_to_time}}
		</div>
	</div>

	<div id="bottom_choosing_category">
		<div class="nav">
			<span class="tv_channel_back">
				<svg class="svg_button" viewBox="0 0 24 19">
					<use xlink:href="#btn_back"></use>
				</svg>
			</span>
			{{:lng.back}}
		</div>
		<div class="nav">
			<span class="navigation">
				<svg class="svg_button" viewBox="0 0 26 26">
					<use xlink:href="#btn_navigate"></use>
				</svg>
			</span>
			{{:lng.navigation}}
		</div>
		<div class="nav">
			<span class="choose_category">
				<svg class="svg_button" viewBox="0 0 28 24">
					<use xlink:href="#btn_ok"></use>
				</svg>
			</span>
			{{:lng.select_btn}}
		</div>
		<div class="nav guide">
			<span class="guide btn_legend btn_green"></span>{{:lng.tv_guide}}
		</div>
		<div class="nav by_language">
			<span class="by_language"></span>
			{{:lng.by_language}}
		</div>
		<div class="nav by_category">
			<span class="by_category"></span>
			{{:lng.by_category}}
		</div>
		<div class="nav filtering_channel">
			<span class="filtering_channel"></span>
			{{:lng.filtering_channel}}:
		</div>
	</div>

	<div id="bottom_choosing_language">
		<div class="nav">
			<span class="tv_channel_back">
				<svg class="svg_button" viewBox="0 0 24 19">
					<use xlink:href="#btn_back"></use>
				</svg>
			</span>
			{{:lng.back}}
		</div>
		<div class="nav">
			<span class="navigation">
				<svg class="svg_button" viewBox="0 0 26 26">
					<use xlink:href="#btn_navigate"></use>
				</svg>
			</span>
			{{:lng.navigation}}
		</div>
		<div class="nav">
			<span class="choose_language">
				<svg class="svg_button" viewBox="0 0 28 24">
					<use xlink:href="#btn_ok"></use>
				</svg>
			</span>
			{{:lng.select_btn}}
		</div>
		<div class="nav guide">
			<span class="guide btn_legend btn_green"></span>{{:lng.tv_guide}}
		</div>
		<div class="nav by_language">
			<span class="by_language"></span>
			{{:lng.by_language}}
		</div>
		<div class="nav by_category">
			<span class="by_category"></span>
			{{:lng.by_category}}
		</div>
		<div class="nav filtering_channel">
			<span class="filtering_channel"></span>
			{{:lng.filtering_channel}}:
		</div>
	</div>

	<div id="bottom_preview_channel">
		<div id="progress_line_wrap">
			<div id="progress_line"></div>
		</div>
		<div class="nav" id="tv_mosaic_preview_btn_back">
			<span class="tv_channel_back">
				<svg class="svg_button" viewBox="0 0 24 19">
					<use xlink:href="#btn_back"></use>
				</svg>
			</span>
			{{:lng.back}}
		</div>
		<div class="nav">
			<span class="volume">
				<svg class="svg_button" viewBox="0 0 53 24">
					<use xlink:href="#btn_volume"></use>
				</svg>
			</span>
			{{:lng.volume}}
		</div>
		<div class="nav">
			<span class="switch_channel">
				<svg class="svg_button" viewBox="0 0 53 24">
					<use xlink:href="#btn_channel"></use>
				</svg>
			</span>
			{{:lng.channels}}
		</div>
		<div class="nav">
			<span class="switch_language btn_legend btn_blue"></span>
			{{:lng.languages}}
		</div>
		{{if sleep_timer}}
		<div class="nav">
			<span class="btn_legend btn_green"></span>{{:lng.sleep_timer}}
		</div>
		{{/if}}
	</div>
</div>
