
<div id="tv_station_list_header" class="tv_channel_list_header">
	<h1>{{:lng.radio_list}} <span>({{:quantity}} {{:lng.of}} {{:stations.length}})</span></h1>
	<div class="channel_info">
		<span class="channel_category">{{if category_string}}{{:category_string}}{{else}}{{:lng.all_genres}}{{/if}}</span>
	</div>
</div>
<div class="content_wrapper">
	<ul class="content">
		{{for stations}}
			<li data-num="{{:#getIndex()}}" data-name="{{:name}}">
				<div image_url="{{:image}}" class="tv_channel_img" style="background: url('data:image/gif;base64,R0lGODlhAQABAAD/ACwAAAAAAQABAAACADs=') no-repeat center center"></div>
				<div class="pseudoAfter"></div>
				<div class="tv_channel_name">{{:name}}</div>
				<div class="tv_channel_epg">{{:category_string}}</div>
			</li>
		{{/for}}
	</ul>
</div>